{% extends 'AitamIndexBundle::layout.html.twig' %}

{% block stylesheets %}

{{ parent() }}
    <html xmlns:fb="http://www.facebook.com/2008/fbml">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
{% endblock %}

{% block title %} facebook login {% endblock %}
{% block body %}
<div class="center_content_pages">
 <div class="left_content"> 
 <div class="block_wide">
PAGINA FACEBOOK

    <div id="login">
         {% if user == 0 %}  <fb:login-button></fb:login-button>
    {% endif %}

    </div>
    <div id="cont">
        {%  if user != 0 %}
        <img src="https://graph.facebook.com/<?php echo $user; ?>/picture">
        <p>Hello <?php echo $user_profile['name']; ?>!</p>
 
        {%   else  %}
        <strong><em>You are not Connected.</em></strong>
        {%   endif %}
    </div>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '<?php echo $facebook->getAppID() ?>',
          cookie: true,
          xfbml: true,
          oauth: true
        });
        FB.Event.subscribe('auth.login', function(response) {
          window.location.reload();
        });
        FB.Event.subscribe('auth.logout', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
                </div>
                        </div>
                <div class="right_block">
            	            <div class="right_block">
               {% block sidebar %}
                   {{ parent() }}
               {% endblock %}     
            </div>
            </div>
            
            
			<div class="wide_content">
            	<h2>Terms &amp; Conditions</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>            
            </div> 
            
   
        
        <div class="clear"></div>
       
{% endblock %}