{% extends 'AitamIndexBundle::layout.html.twig' %}
{% block title %}ItaliaBrasile.site{% endblock%}
{% block body %}

<div class="center_content_pages">
        
        
        <div class="left_content">            
            <div class="block_wide">
                        	<h2>Italianamazonia.site</h2>
                <img src="{{ asset('bundles/AitamIndex/images/sta.jpg') }}" alt="" title="" border="0" class="pic" />
                <p>
<p> Chi Siamo:<br />
  ItalianAmazonia nasce con lo scopo di creare un sito per la comunit&aacute; italiana in amazzonia,<br />
  e nel giro di un anno &eacute; diventato il principale punto di riferimento per tutti gli italiani <br />
  che vivono qui, o che hanno intenzione di trasferirsi a Manaus dall&rsquo;Italia, per la raccolta di informazioni, <br />
  consigli o suggerimenti relativi alla vita in questa citt&aacute;. ItalianAmazonia punta i riflettori sulle persone, <br />
  i luoghi, i ristoranti, la cultura, le nuove tendenze della comunit&aacute; italiana a Manaus. Su ItalianAmazonia<br />
  potrete trovare pubblicati gli eventi che si svolgeranno a Manaus proposti da italiani per gli italiani<br />
  che vivono in questa citt&aacute;. Troverete richieste e offerte di lavoro, potrete cercare o proporre affitti o <br />
  compravendite di appartementi e qualsiasi altra cosa vi possa venire in mente o ci verr&aacute; richiesta, <br />
  che possa essere d&rsquo;aiuto a chi come noi vive in questa grande metropoli. Qui potrete leggere proporre e <br />
  commentare ci&oacute; che accade in Italia, in Brasile e nel resto del mondo sul Forum di Italianamazonia, <br />
  il luogo virtuale di incontri e dibattiti per gli italiani che vivono a Manaus. Potrete fare incontri virtuali <br />
  , leggere e pubblicare storie, pensieri, poesie o riflessioni nei Blogs e vedere <br />
  tutte le foto degli eventi organizzati dalla nostra comunit&aacute; nel Gallery. Qui da noi tutti sono i benvenuti.<br />
  Noi non vogliamo essere n&eacute; esclusivi n&eacute; migliori degli altri, ma come tutte le comunit&aacute; 
  anche la comunit&aacute; di<br />
  Italianamazonia ha le sue regole, che sono quelle del rispetto reciproco, <br />
  dell&rsquo;educazione e del buon senso. Le vostre proposte, i vostri suggerimenti o le vostre offerte di collaborazione <br />
  nelle rubbriche proposte da Italianamazonia, sono sempre bene accette e verrano valutate di volta in volta dalla<br />
  nostra Redazione.</p>


            
            
            </div>
        
        
        </div>
        
        
            <div class="right_block">
            	<h2>Latest news</h2>
                
                <div class="home_news">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit , consectetur adipisicing elit adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                </div>

                
                
            </div>
            
            
			<div class="wide_content">
            	<h2>Termini &amp; Condizioni</h2>
<p>Ricordiamo a tutti gli utenti del sito, che anche se permettiamo la pubblicita', sia da parte di chi scrive consigli <br />
  e rubriche che da parte degli utenti nei forum, essendo il nostro un sito dedicato al servizio della nostra comunita',<br />
  e fonte di informazione e dibattito, non siamo in alcuna maniera responsabili relativamente ad eventuali scambi di<br />
  denaro o dei servizi che vengano negoziati, promessi o offerti dagli utenti. Vi consigliamo sempre di usare il buon senso.</p>           
            </div> 
            
   
        
        <div class="clear"></div>
        </div>
        {% endblock %}